@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
    background: url("./assets/DYC3.jpeg") no-repeat;
    background-size: 100%;
    background-position: contain;
    height: 100%;
}
